//primary colors
$primary-color-1: blueviolet;
$primary-color-2: black;

//secondary colors
$secondary-color-1: white;
$secondary-color-2: rgb(167, 167, 167);
$secondary-color-3: rgb(73, 73, 73);
$secondary-color-4: rgb(46, 46, 46);
