

.sfondo{
  background-image: url('../../../assets/images/sfondoReg2.jpg');
  background-repeat:  no-repeat;
}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }

  .bg-indigo {
  background-color: #4835d4;
  border-radius: 0% 15% 15% 0%;
  }


  input.ng-invalid.ng-touched{
    border: 3px solid red;
  }

  p.help.is-danger{
    margin-top: -7px !important;
    color: red;
    font-size: 12px;
    font-weight: 600;
  }

  input.ng-valid.ng-touched{
    border: 3px solid rgb(7, 216, 7);
  }

  p.help.is-danger{
    margin-top: 10px;
    color: red;
    font-size: 12px;
    font-weight: 600;
  }
  .margintop {
    margin-top: -124px;
}



    .sfondodiv{
      background-image: url('../../../assets/images/sfondoReg1.jpg');
      border-top-left-radius: 10% !important;
      border-bottom-left-radius: 10% !important;
      padding-top: 120px !important;
      }

.input-text{
  background-color: white;
  opacity: 0.5;
}

.container-form{

    margin: 2% 10% 12% 10%;

}


.modal-header {
  background-color: blueviolet;
  color: white;

  .btn-close {
    box-sizing: content-box;
    width: 4em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: white;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: 1.5;
  }
}

.modal-body {

  .testo-riepilogo {
    display: flex;
    justify-content: flex-start;
    font-size: large;

    li{
        margin-right: 10px;
        margin-bottom: 10px;
        width: 35%;
    }
  }

  .immagine-prodotto {
    height: 450px;
    width: 350px;
    float: right;
    border-radius: 5%;
  }
}

.modal-footer {
  background-color: blueviolet;

  .btn-modal {
    background-color: blueviolet;
    color: white;
    font-weight: 700;
    border: 2px solid white;
  }
}

