<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark">
  <div class="container-fluid" >
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <img src= "../assets/images/logoSitoAbbigliamento.png" class="icona-abbigliamento" style="margin-left: 0%;">
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home" style="color: white; margin-top: 20px;" > Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="prodotti" style="color: white; margin-top: 20px;"> Prodotti</a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse">
      <div class="justify-content-center">
        <ul>
        <li>
        <h2 style="font-family: 'Dancing Script'; color: white; font-size: larger; font-size:60px; margin-top: 5%; margin-bottom: 5%;" >GD CLOTHING</h2>
        </li>
      </ul>
    </div>
  </div>


   <!--<div class="collapse navbar-collapse" class="nav-right" >
    <div class="justify-content-end" style="margin: 20px;">

      <section class="mb-4">
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><mat-icon div class="mat-icon">language</mat-icon></a>

        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><mat-icon div class="mat-icon"> contacts</mat-icon></a>

        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><mat-icon div class="mat-icon">favorite</mat-icon></a>

        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><mat-icon div class="mat-icon">add_shopping_cart</mat-icon></a>

        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><mat-icon div class="mat-icon">help_outline</mat-icon></a>

        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><mat-icon div class="mat-icon">search</mat-icon></a>
      </section> -->
      <!--per sostituire cancellare tutto section-->
       <div class="collapse navbar-collapse" class="nav-right" >
         <div class="justify-content-end" style="margin: 20px;">
          <ul>
              <mat-icon div class="mat-icon">language</mat-icon>
              <mat-icon div class="mat-icon"> contacts</mat-icon>
              <mat-icon div class="mat-icon">favorite</mat-icon>
              <mat-icon div class="mat-icon">add_shopping_cart</mat-icon>
              <mat-icon div class="mat-icon">help_outline</mat-icon>
              <mat-icon div class="mat-icon">search</mat-icon>
        </ul>
      </div>
    </div>

  </div>
</nav>
</header>
