


header{
  background-color:blueviolet!important;
  color: white;
  font-family: cursive;
  font-size: medium;

  .imgTitolo{
    margin-right: 200px;
    .titolo{
      font-family: 'Dancing Script';
      color: white; font-size: larger;
      font-size:20px;
      margin-top: 10%;
    }
  .icona-abbigliamento {
    width: 110px;
    margin-right: 20px;
    border-radius: 25px;
    }
  }

    .link{
      margin-top: 10px;
      li{
        a{
          color: white;
        }
      }
    }

    .opzioniUtente{
      margin-right: -128px;
    }

}


//INIZIO CSS BOTTONI ESCI E PROFILO
.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .125em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
    /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: .5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
  clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: '';
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%
  }

  50% {
    background-position: 70% 100%
  }

  100% {
    background-position: 31% 0%
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
            /* Top-left */
            var(--border-width)
            calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width))
            var(--border-width),

            calc(100% - var(--border-width))
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
                /* Top-left */
                calc(100% - var(--border-width))

                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),

                calc(100% - var(--border-width))

                var(--border-width),

                /* top-right */
                calc(100% - var(--border-width))

                 var(--border-width),

                calc(100% - var(--border-width))

                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

                /* bottom-right 1 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5))
                calc(100% - var(--border-width)),

                /* bottom-right 2 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                calc(100% - var(--border-width)));
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}
//FINE CSS BOTTONI




.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  margin-right: 150px;
  margin-left: 15px;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}


@media only screen and (min-width: 0px ) and (max-width: 480px){
  header{

    .imgTitolo{
      .titolo{
        font-size:35px;
        margin-top: 12%;
      }
    .icona-abbigliamento {
      width: 160px;
      margin-right: 100px;
      margin-top: 20px;
      }
    }


      .link{
        li{
          a{
            margin-top: 10px;
          }
        }
      }

      .input {
        margin-left: 0px;
        margin-bottom: 15px;
        margin-top: 10px;
      }

  }
}

@media only screen and (min-width: 480px ) and (max-width: 992px){
  header{
       text-align: center;
    .imgTitolo{
      margin-right: 20px;

      .titolo{
        margin-top:26px;
        font-size:55px;
      }

    .icona-abbigliamento {
      width: 220px;
      }
    }


      .link{
        li{
          a{
            margin-top: 10px;
          }
        }
      }

      .input {
        margin-left: 157px;
      }

  }
}

@media only screen and (min-width: 992px ) and (max-width: 1180px){

  header{

    .imgTitolo{
      margin-right: 29px;
      .titolo{
      }
    .icona-abbigliamento {
      }
    }

      .link{
        li{
          a{
            margin-top: 29px;
          }
        }
      }

      .input {
        margin-right: 70px;
        margin-top: 29px;
      }

  }

}
