
<app-carousel></app-carousel>

<div  class="container">

  <h2 >Benvenuti in GD CLOTHING</h2>

<div class="ultimiProdotti">
  <h2>Ultimi prodotti</h2>

<app-product-card [pag]="'home'"></app-product-card>

</div>
</div>

<ng-template [ngIf]="name">
  <div id="container-utente">
    <div id="dati-utente">
  <h3 >Benvenuti in GD CLOTHING</h3>
      <h2>Grazie {{name}} per esserti registrato, ecco i tuoi dati:</h2>
        <ul>
          <li>Nome: {{name}} </li>
          <li>Email: {{email}}</li>
        </ul>
        <button class="btn btn-primary btn-lg" (click)="closeModal()">Chiudi</button>
    </div>
  </div>
</ng-template>


