.card-container{
  display: block;
  float: left;
  width: 23%;
  margin-left: 1.5%;
  margin-bottom: 20px;
}
.card {
  border-top-right-radius: 9%;
  border-top-left-radius: 9%;
  background-color: rgba(137, 43, 226, 0.358);
  color: black;
}

.card-text{
  margin-top: -5%;
}

.card-image{
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10%;
}

.card-body{
  text-align: center;


  .card-title{
    font-weight: 900;
    font-size: 16px;
    color: black;
  }
 }



  a.btn.btn-primary{
    background-color: blueviolet;
    border: none;
    margin: auto;
    padding: 10px 35px;
  }
