
  <div class="titolo">Benvenuti nella pagina di registrazione del negozio GD CLOTHING</div>
  <div class="container" >

    <div class="row d-flex justify-content-center align-items-center" >
      <div class="col-12">

        <div class="card card-registration card-registration-2" >

          <div class="card-body p-0" >
            <form class="mx-1 mx-md-4" [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="row g-0">
              <div class="col-lg-6 sfondodiv">
                <div class="p-5 margintop" >
                  <!-- <h3 class="fw-normal mb-5" style="color: #4835d4; font-size: x-large; text-align: end;">Benvenuti nella page di GD CLOTHING.</h3> -->
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" name="name" formControlName="name" placeholder="Il tuo nome..." class="form-control form-control-lg input-text" />
                        <label class="form-label " for="form3Examplev2"><b style="font-size: medium;">Nome</b></label>
                        <p class="help is-danger" *ngIf="!form.get('name').valid && form.get('name').touched">Il campo nome è obbligatorio</p>
                      </div>

                    </div>
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" name="cognome" formControlName="cognome" placeholder="Il tuo cognome..." class="form-control form-control-lg input-text" />
                        <label class="form-label" for="form3Examplev3"><b style="font-size: medium;">Cognome</b></label>
                        <p class="help is-danger" *ngIf="!form.get('cognome').valid && form.get('cognome').touched">Il campo cognome è obbligatorio</p>

                      </div>

                    </div>
                  </div>



                  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <input type="text" name="dataNascita" formControlName="dataNascita" placeholder="Data di nascita..." class="form-control form-control-lg input-text" />
                      <label class="form-label" for="form3Examplev4"><b style="font-size: medium;">Data di nascita</b></label>
                      <p class="help is-danger" *ngIf="!form.get('dataNascita').valid && form.get('dataNascita').touched">Il campo data di nascita è obbligatorio</p>

                    </div>
                  </div>

                  <div class="row">
                    <div class="mb-4">
                      <div class="form-outline form-white">
                        <input type="text" name="email" formControlName="email" placeholder="Email..." class="form-control form-control-lg input-text" />
                        <label class="form-label" for="form3Examplea9"><b style="font-size: medium;">Email</b></label>
                        <p class="help is-danger" *ngIf="form.controls.email.hasError('required') && form.get('email').touched">Il campo email è obbligatorio</p>
                        <p class="help is-danger" *ngIf="form.controls['email'].hasError('email') && form.get('email').dirty && form.get('email').touched">Il campo email non contiene una email valida</p>

                      </div>
                    </div>

                    <div class="mb-4">
                      <div class="form-outline form-white">
                        <input type="password" name="password" formControlName="password" placeholder="Password..." class="form-control form-control-lg input-text" />
                        <label class="form-label" for="form3Examplea9"><b style="font-size: medium;">Password</b></label>
                        <p class="help is-danger" *ngIf="form.controls.password.hasError('required') && !form.get('password').dirty && form.get('password').touched"> Il campo password è obbligatorio</p>
                        <p class="help is-danger" *ngIf="form.controls.password.hasError('pattern')"> Il campo password deve contenere almeno 1 carattere speciale, 1 minuscola, 1 maiuscola, 1 numero e lunga da 8-16 caratteri</p>

                      </div>
                    </div>

                    <div class="mb-4">
                      <div class="form-outline form-white">
                        <input type="password" name="ripetiPassword" formControlName="ripetiPassword" placeholder="Ripeti password..." class="form-control form-control-lg input-text" />
                        <label class="form-label" for="form3Examplea9"><b style="font-size: medium;">Ripeti password</b></label>
                        <p class="help is-danger" *ngIf="form.controls.password.hasError('required') && !form.get('ripetiPassword').dirty && form.get('ripetiPassword').touched"> Il campo password è obbligatorio</p>
                        <p class="help is-danger" *ngIf="form.getError('diversa') && form.get('ripetiPassword').touched">La password deve essere uguale</p>
                      </div>
                    </div>



                  </div>

                </div>
              </div>
              <div class="col-lg-6 text-black sfondodiv2">
                <div class="p-5 ">
                  <!-- <h3 class="fw-normal mb-5" style="color: #4835d4; font-size: x-large; text-align: start;">Inserire i dati per l'iscrizione alla pagina</h3> -->
                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text"  name="strada" formControlName="strada" placeholder="Strada + numero civico..."id="form3Examplea2" class="form-control form-control-lg input-text" />
                      <label class="form-label " for="form3Examplea2" ><b style="font-size: medium;"> Street + Nr</b></label>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-5 mb-4 pb-2">

                      <div class="form-outline form-white" style="margin-right: 60px;">
                        <input type="text" name="cap" formControlName="cap" placeholder="Cap..." class="form-control form-control-lg input-text" />
                        <label class="form-label" for="form3Examplea4"><b style="font-size: medium;">Cap</b></label>
                      </div>

                    </div>
                    <div class="col-md-7 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" name="citta" formControlName="citta" placeholder="Città..." class="form-control form-control-lg input-text" />
                        <label class="form-label" for="form3Examplea5"><b style="font-size: medium;">Città</b></label>
                      </div>

                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" name="provincia" formControlName="provincia" placeholder="Provincia..." class="form-control form-control-lg input-text" />
                      <label class="form-label" for="form3Examplea6"><b style="font-size: medium;">Provincia</b></label>

                    </div>
                  </div>

                  <div class="row">

                    <div class=" mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" name="numeroTelefono" formControlName="numeroTelefono" placeholder="Numero di telefono..." class="form-control form-control-lg input-text" />
                        <label class="form-label" for="form3Examplea8"><b style="font-size: medium;">Numero di telefono</b></label>
                      <p class="help is-danger" *ngIf="!form.get('numeroTelefono').valid && form.get('numeroTelefono').touched">Il campo numero di telefono è obbligatorio</p>
                      </div>
                    </div>

                    <div class=" mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" name="numeroTelefonoFisso" formControlName="numeroTelefonoFisso" placeholder="Numero di telefono fisso..." class="form-control form-control-lg input-text" />
                        <label class="form-label" for="form3Examplea8"><b style="font-size: medium;">Numero di telefono fisso</b></label>
                      <p class="help is-danger" *ngIf="!form.get('numeroTelefonoFisso').valid && form.get('numeroTelefonoFisso').touched">Il campo numero di telefono fisso è obbligatorio</p>
                      </div>

                    </div>
                  </div>






                  <div class="form-check d-flex justify-content-center mb-5 " style="float:left">
                    <div class="check" >
                    <input class="form-check-input me-2 check-box"type="checkbox" value="" id="form2Example3c" name="accetto"  formControlName="accetto"/>
                      <label class="form-check-label" for="form2Example3">
                       <p style="color: white; font-size: medium;" > I agree all statements in Terms of service</p>
                      </label>
                      <p class="help is-danger" style="font-size: medium " *ngIf="!form.get('accetto').valid">Il campo accetta é necessario per proseguire</p>
                  </div>
                  </div>


                  <button type="submit" class="btn btn-light btn-lg" data-mdb-ripple-color="dark" [disabled]="!form.valid">Registrati</button>

                </div>

              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<ng-template #modaleServizi let-modal>
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss()"></button>
      <h3>Termini di servizio</h3>
    </div>

    <div class="modal-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, reiciendis dolore? Error repudiandae quia dolor placeat officia, perferendis, distinctio dolore repellendus similique dicta, facere minus inventore saepe eligendi explicabo delectus.</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn" (click)="modal.dismiss()">ANNULLA</button>
      <button type="button" class="btn btn-primary" (click)="modal.closa()" ngbAutoFocus >AZIONE</button>

    </div>
  </ng-template>

  <ng-template #modaleDue let-modal>
    <div class="modal-header" >
      <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss()"></button>
      <h3>Modale DUE</h3>
    </div>

    <div class="modal-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, reiciendis dolore? Error repudiandae quia dolor placeat officia, perferendis, distinctio dolore repellendus similique dicta, facere minus inventore saepe eligendi explicabo delectus.</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn-modal" (click)="modal.dismiss()">ANNULLA</button>
      <button type="button" class="btn-modal" (click)="modal.close()" ngbAutoFocus >AZIONE</button>

    </div>
  </ng-template>

