
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }

  .bg-indigo {
  background-color: #4835d4;
  border-radius: 0% 15% 15% 0%;
  }


  input.ng-invalid.ng-touched{
    border: 3px solid red;
  }

  p.help.is-danger{
    margin-top: -7px !important;
    color: red;
    font-size: 12px;
    font-weight: 600;
  }

  input.ng-valid.ng-touched{
    border: 3px solid rgb(7, 216, 7);
  }

  p.help.is-danger{
    margin-top: 10px;
    color: red;
    font-size: 12px;
    font-weight: 600;
  }
  .margintop {
    margin-top: -124px;
}

  .sfondopagina{
    background-image: url('../../../../assets/images/sfondocompletoReg.jpg');
    size-adjust: 100%;
  }

  .sfondodiv2{
    background-image: url('../../../../assets/images/sfondoReg1.jpg');
    border-top-right-radius: 10% !important;
    border-bottom-right-radius: 10% !important;
    }

    .sfondodiv{
      background-image: url('../../../../assets/images/sfondoReg2.jpg');
      border-top-left-radius: 10% !important;
      border-bottom-left-radius: 10% !important;
      padding-top: 120px !important;
      }

.input-text{
  background-color: white;
  opacity: 0.5;
}

