<div style= "margin-bottom:-35px; background-color: rgb(220, 205, 216);">
<section class=" h-custom gradient-custom-2" style="margin-top:auto; margin-bottom: auto;  ">
  <div class="container" >
    <div class="row d-flex justify-content-center align-items-center" >
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 10%;">

          <div class="card-body p-0" style="margin-right: -35px;">
            <form class="mx-1 mx-md-4" [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="row g-0">
              <div class="col-lg-6">
                <div class="p-5">
                  <h3 class="fw-normal mb-5" style="color: #4835d4;">Informazione Generali</h3>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" name="nome" formControlName="nome" placeholder="Il tuo nome..." class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2">Nome</label>
                        <p class="help is-danger" *ngIf="!form.get('nome').valid && form.get('nome').touched">Il campo nome è obbligatorio</p>
                      </div>

                    </div>
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" name="cognome" formControlName="cognome" placeholder="Il tuo cognome..." class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev3">Cognome</label>
                        <p class="help is-danger" *ngIf="!form.get('cognome').valid && form.get('cognome').touched">Il campo cognome è obbligatorio</p>

                      </div>

                    </div>
                  </div>



                  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <input type="text" name="dataNascita" formControlName="dataNascita" placeholder="Data di nascita..." class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev4">Data di nascita</label>
                      <p class="help is-danger" *ngIf="!form.get('dataNascita').valid && form.get('dataNascita').touched">Il campo data di nascita è obbligatorio</p>

                    </div>
                  </div>

                  <div class="row">
                    <div class="mb-4">
                      <div class="form-outline form-white">
                        <input type="text" name="email" formControlName="email" placeholder="Email..." class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea9">Email</label>
                        <p class="help is-danger" *ngIf="form.controls.email.hasError('required') && form.get('email').touched">Il campo email è obbligatorio</p>
                        <p class="help is-danger" *ngIf="form.controls['email'].hasError('email') && form.get('email').dirty && form.get('email').touched">Il campo email non contiene una email valida</p>

                      </div>
                    </div>

                    <div class="mb-4">
                      <div class="form-outline form-white">
                        <input type="password" name="password" formControlName="password" placeholder="Password..." class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea9">Password</label>
                        <p class="help is-danger" *ngIf="form.controls.password.hasError('required') && !form.get('password').dirty && form.get('password').touched"> Il campo password è obbligatorio</p>
                        <p class="help is-danger" *ngIf="!form.get('password').valid && form.get('password').dirty"> La password deve essere lunga almeno 6 caratteri</p>

                      </div>
                    </div>

                    <div class="mb-4">
                      <div class="form-outline form-white">
                        <input type="password" name="ripetiPassword" formControlName="ripetiPassword" placeholder="Ripeti password..." class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea9">Ripeti password</label>
                        <p class="help is-danger" *ngIf="form.controls.password.hasError('required') && !form.get('ripetiPassword').dirty && form.get('ripetiPassword').touched"> Il campo password è obbligatorio</p>
                        <p class="help is-danger" *ngIf="!form.get('ripetiPassword').valid && form.get('ripetiPassword').dirty"> La password deve essere lunga almeno 6 caratteri</p>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
              <div class="col-lg-6 bg-indigo text-white">
                <div class="p-5">
                  <h3 class="fw-normal mb-5">Dettagli per il contatto</h3>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" name="strada" formControlName="strada" placeholder="Strada + numero civico..."id="form3Examplea2" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea2">Street + Nr</label>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-5 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" name="cap" formControlName="cap" placeholder="Cap..." class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea4">Cap</label>
                      </div>

                    </div>
                    <div class="col-md-7 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" name="citta" formControlName="citta" placeholder="Città..." class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea5">Città</label>
                      </div>

                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" name="provincia" formControlName="provincia" placeholder="Provincia..." class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea6">Provincia</label>

                    </div>
                  </div>

                  <div class="row">

                    <div class=" mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" name="numeroTelefono" formControlName="numeroTelefono" placeholder="Numero di telefono..." class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea8">Numero di telefono</label>
                      <p class="help is-danger" *ngIf="!form.get('numeroTelefono').valid && form.get('numeroTelefono').touched">Il campo numero di telefono è obbligatorio</p>

                      </div>

                    </div>
                  </div>



                  <div class="form-check d-flex justify-content-center mb-5 ">
                    <div class="check">
                    <input class="form-check-input me-2 check-box"type="checkbox" value="" id="form2Example3c" name="accetto"  formControlName="accetto"/>
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a href="#!" style="color: white;">Terms of service</a>
                      </label>
                      <p class="help is-danger" *ngIf="!form.get('accetto').valid">Il campo accetta é necessario per proseguire</p>
                  </div>
                  </div>


                  <button type="button" class="btn btn-light btn-lg"
                    data-mdb-ripple-color="dark">Registrati</button>

                </div>

              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
